:root {
  --login-card-box-color: #BCC0C7;
  --login-card-box-hover-color: #1263CA;
  --login-card-box-focus-color: #1263CA;
  --login-background: #FCFCFF;
  --language-icon-color: #FFFFFF;
  --language-icon-bg-color:  #1262C9;
  --brand-only-logo-url: url("logo.png");
  --brand-logo-url: url("/images/brand_logo.png");
  --background-logo-url: url("images/illustration_one.png");
  --primary-button-color: #FFFFFF;
  --primary-button-bg-color: #0953FA;
  --primary-button-border-color: #0953FA;
  --primary-button-hover-color: #FFFFFF;
  --primary-button-hover-bg-color: #0549b6;
  --primary-button-hover-border-color: #0549b6;
  --primary-button-disable-color: #94A3B8;
  --primary-button-disable-bg-color: #FFFFFF;
  --primary-button-disable-border-color: #94A3B8;
  --secondary-button-color: #111827;
  --secondary-button-bg-color: #FFFFFF;
  --secondary-button-border-color: #0953FA;
  --secondary-button-hover-color: #111827;
  --secondary-button-hover-bg-color: #F3F4F6;
  --secondary-button-hover-border-color: #0953FA;
  --secondary-button-disable-color: #94A3B8;
  --secondary-button-disable-bg-color: #FFFFFF;
  --secondary-button-disable-border-color: #94A3B8;
  --loading-indicator-ring-color: #3182CE;
  --loading-indicator-bg-color: transparent;
  --loading-indicator-font-color: #000000;
  --qrcode-border-color: #1263CA;
  --info-icon-color: #0686F0;
  --toggle-button-inactive-bg-color: #FFFFFF;
  --toggle-button-inactive-border-color: #D8D8D8;
  --toggle-button-active-bg-color: #FFFFFF;
  --toggle-button-active-border-color: #1262C9;
  --toggle-button-inactive-ball-color: #A7A8A9;
  --toggle-button-inactive-ball-border-color: #A7A8A9;
  --toggle-button-active-ball-color: #1262C9;
  --toggle-button-active-ball-border-color: #1262C9;
  --toggle-button-ring-color: #1262C9;
}
