@import "tailwindcss";

*,
body,
input,
textarea,
button,
select {
  font-family:
    Montserrat,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif !important;
  border-color: #e5e7eb;
}

.navbar-header {
  position: var(--navbar-position);
  z-index: var(--navbar-zIndex);
  box-shadow: var(--navbar-box-shadow);
  height: var(--header-height);
}

.section-background {
  position: relative;
  background-color: var(--login-background);
  background-size: cover;
  min-height: var(--login-background-min-height);
  overflow-x: hidden;
}

.language-icon-color {
  fill: var(--language-icon-color);
}

.language-icon-bg-color {
  fill: var(--language-icon-bg-color);
}

.brand-logo {
  content: var(--brand-logo-url);
  height: 40px;
}

.brand-only-logo {
  content: var(--brand-only-logo-url);
}

.background-logo {
  content: var(--background-logo-url);
}

.loading-indicator {
  background-color: var(--loading-indicator-bg-color);
  color: var(--loading-indicator-font-color);
}

.loading-indicator > svg {
  fill: var(--loading-indicator-ring-color);
}

.footer-brand-logo {
  content: var(--footer-brand-logo-url);
  height: 25px;
}

.footer-container {
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--footer-text-color);
  font-size: var(--footer-text-size);
  background-color: var(--footer-bg-color);
  height: var(--footer-height);
}

.multipurpose-login-card {
  border-radius: var(--multipurpose-login-card-border-radius);
  background-color: var(--multipurpose-login-card-background-color);
  height: max-content;
  max-width: 100%;
  box-sizing: border-box;
}

.section-background .top_left_bg_logo,
.section-background .top_right_bg_logo,
.section-background .bottom_right_bg_logo,
.section-background .bottom_left_bg_logo {
  position: absolute;
}

.section-background .top_left_bg_logo {
  display: var(--top-left-bg-logo-display);
  -webkit-mask-image: var(--top-left-bg-logo-url);
  mask-image: var(--top-left-bg-logo-url);
  background-color: var(--primary-color);
  width: var(--top-left-bg-width);
  height: var(--top-left-bg-height);
  top: var(--top-left-bg-position-top);
  left: var(--top-left-bg-position-left);
}

.section-background .bottom_right_bg_logo {
  display: var(--bottom-right-bg-logo-display);
  -webkit-mask-image: var(--bottom-right-bg-logo-url);
  mask-image: var(--bottom-right-bg-logo-url);
  background-color: var(--primary-color);
  width: var(--bottom-right-bg-width);
  height: var(--bottom-right-bg-height);
  bottom: var(--bottom-right-bg-position-bottom);
  right: var(--bottom-right-bg-position-right);
}

.back-button-color {
  color: var(--back-button-color);
}

.align-loading-center {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-page-header {
  color: #2c2c2c;
  font:
    normal normal bold 24px/29px Inter,
    sans-serif;
  text-align: center;
  letter-spacing: 0px;
  padding-top: 36px;
}

.error-page-detail {
  color: #7b7b7b;
  font:
    normal normal normal 14px/20px Inter,
    sans-serif;
  text-align: center;
  letter-spacing: 0px;
  padding-top: 10px;
}

nav {
  font-family: Roboto, sans-serif;
}

.border-button {
  color: var(--border-button-text-color);
  border-color: var(--border-button-border-color);
}

.border-button:hover {
  background-color: var(--border-button-text-color);
  color: white;
}

input {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

[data-radix-popper-content-wrapper] {
  z-index: 50 !important;
  font-family: Roboto, sans-serif;
}

@media screen and (max-width: 768px) {
  .section-background .top_left_bg_logo,
  .section-background .top_right_bg_logo,
  .section-background .bottom_right_bg_logo,
  .section-background .bottom_left_bg_logo {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .multipurpose-login-card {
    border-radius: 0;
  }
}

.hidden {
  display: none !important;
}

/* css for ACR selection button */
.thunderid-signin__button.thunderid-button__secondary.thunderid-button__outline {
  justify-content: flex-start;
  border-color: #bcc0c7;
  background-color: white;
  color: black;
  &:hover {
    border-color: #eb6f2d;
    color: black;
    background-color: white;
  }
}

/* size of icon in ACR selection button */
.thunderid-button__start-icon > img {
  width: 24px !important;
}
