:root {
  --login-card-box-color: #BCC0C7;
  --login-card-box-hover-color: #1263CA;
  --login-card-box-focus-color: #1263CA;
  --login-background: #FCFCFF;
  --language-icon-color: #FFFFFF;
  --language-icon-bg-color:  #1262C9;
  --brand-only-logo-url: url("../public/logo.png");
  --brand-logo-url: url("");
  --background-logo-url: url("../public/images/illustration_one.png");
  --primary-button-color: #FFFFFF;
  --primary-button-bg-color: #0953FA;
  --primary-button-border-color: #0953FA;
  --primary-button-hover-color: #FFFFFF;
  --primary-button-hover-bg-color: #0549b6;
  --primary-button-hover-border-color: #0549b6;
  --primary-button-disable-color: #94A3B8;
  --primary-button-disable-bg-color: #FFFFFF;
  --primary-button-disable-border-color: #94A3B8;
  --secondary-button-color: #111827;
  --secondary-button-bg-color: #FFFFFF;
  --secondary-button-border-color: #0953FA;
  --secondary-button-hover-color: #111827;
  --secondary-button-hover-bg-color: #F3F4F6;
  --secondary-button-hover-border-color: #0953FA;
  --secondary-button-disable-color: #94A3B8;
  --secondary-button-disable-bg-color: #FFFFFF;
  --secondary-button-disable-border-color: #94A3B8;
  --loading-indicator-ring-color: #3182CE;
  --loading-indicator-bg-color: transparent;
  --loading-indicator-font-color: #000000;
  --qrcode-border-color: #1263CA;
  --info-icon-color: #0686F0;
  --toggle-button-inactive-bg-color: #FFFFFF;
  --toggle-button-inactive-border-color: #D8D8D8;
  --toggle-button-active-bg-color: #FFFFFF;
  --toggle-button-active-border-color: #1262C9;
  --toggle-button-inactive-ball-color: #A7A8A9;
  --toggle-button-inactive-ball-border-color: #A7A8A9;
  --toggle-button-active-ball-color: #1262C9;
  --toggle-button-active-ball-border-color: #1262C9;
  --toggle-button-ring-color: #1262C9;
}

[class="eldoria"] {
  --login-card-box-color: #B1915D;
  --login-card-box-hover-color: #1263CA;
  --login-card-box-focus-color: #1263CA;
  --login-background: #FCFAF7;
  --language-icon-color: #FFFFFF;
  --language-icon-bg-color: #B1915D;
  --brand-only-logo-url: url("../public/images/eldoria_only_logo.png");
  --brand-logo-url: url("../public/images/eldoria_logo.png");
  --background-logo-url: url("../public/images/eldoria_bg.png");
  --primary-button-color: #FFFFFF;
  --primary-button-bg-color: #3B82F6;
  --primary-button-border-color: #3B82F6;
  --primary-button-hover-color: #FFFFFF;
  --primary-button-hover-bg-color: #6C90C9;
  --primary-button-hover-border-color: #6C90C9;
  --primary-button-disable-color: #94A3B8;
  --primary-button-disable-bg-color: #FFFFFF;
  --primary-button-disable-border-color: #94A3B8;
  --secondary-button-color: #111827;
  --secondary-button-bg-color: #FFFFFF;
  --secondary-button-border-color: #0953FA;
  --secondary-button-hover-color: #111827;
  --secondary-button-hover-bg-color: #F3F4F6;
  --secondary-button-hover-border-color: #0953FA;
  --secondary-button-disable-color: #94A3B8;
  --secondary-button-disable-bg-color: #FFFFFF;
  --secondary-button-disable-border-color: #94A3B8;
  --loading-indicator-ring-color: #B1915D;
  --loading-indicator-bg-color: #FCFAF7;
  --loading-indicator-font-color: #000000;
  --qrcode-border-color: #B1915D;
  --info-icon-color: #B1915D;
  --toggle-button-inactive-bg-color: #FFFFFF;
  --toggle-button-inactive-border-color: #808080;
  --toggle-button-active-bg-color: #FFFFFF;
  --toggle-button-active-border-color: #E77938;
  --toggle-button-inactive-ball-color: #AAAAAD;
  --toggle-button-inactive-ball-border-color: #AAAAAD;
  --toggle-button-active-ball-color: #B1915D;
  --toggle-button-active-ball-border-color: #B1915D;
  --toggle-button-ring-color: #B1915D;
}

[class="veridonia"] {
  --login-card-box-color: #9F4C42;
  --login-card-box-hover-color: #1263CA;
  --login-card-box-focus-color: #1263CA;
  --login-background: #FCF7F5;
  --language-icon-color: #FFFFFF;
  --language-icon-bg-color: #E57E58;
  --brand-only-logo-url: url("../public/images/veridonia_only_logo.png");
  --brand-logo-url: url("../public/images/veridonia_logo.png");
  --background-logo-url: url("../public/images/veridonia_bg.png");
  --primary-button-color: #FFFFFF;
  --primary-button-bg-color: #3B82F6;
  --primary-button-border-color: #3B82F6;
  --primary-button-hover-color: #FFFFFF;
  --primary-button-hover-bg-color: #6C90C9;
  --primary-button-hover-border-color: #6C90C9;
  --primary-button-disable-color: #94A3B8;
  --primary-button-disable-bg-color: #FFFFFF;
  --primary-button-disable-border-color: #94A3B8;
  --secondary-button-color: #111827;
  --secondary-button-bg-color: #FFFFFF;
  --secondary-button-border-color: #0953FA;
  --secondary-button-hover-color: #111827;
  --secondary-button-hover-bg-color: #F3F4F6;
  --secondary-button-hover-border-color: #0953FA;
  --secondary-button-disable-color: #94A3B8;
  --secondary-button-disable-bg-color: #FFFFFF;
  --secondary-button-disable-border-color: #94A3B8;
  --loading-indicator-ring-color: #AD550A;
  --loading-indicator-bg-color: #FCF7F5;
  --loading-indicator-font-color: #000000;
  --qrcode-border-color: #843B34;
  --info-icon-color: #E77938;
  --toggle-button-inactive-bg-color: #FFFFFF;
  --toggle-button-inactive-border-color: #808080;
  --toggle-button-active-bg-color: #FFFFFF;
  --toggle-button-active-border-color: #E77938;
  --toggle-button-inactive-ball-color: #AAAAAD;
  --toggle-button-inactive-ball-border-color: #AAAAAD;
  --toggle-button-active-ball-color: #9F4C42;
  --toggle-button-active-ball-border-color: #9F4C42;
  --toggle-button-ring-color: #9F4C42;
}
