[class="eldoria"] {
  --login-card-box-color: #B1915D;
  --login-card-box-hover-color: #1263CA;
  --login-card-box-focus-color: #1263CA;
  --login-background: #FCFAF7;
  --language-icon-color: #FFFFFF;
  --language-icon-bg-color: #e57e58;
  --brand-logo-url: url("../public/images/eldoria_logo.svg");
  --background-logo-url: url("../public/images/illustration_one.png");
  --primary-button-color: #FFFFFF;
  --primary-button-bg-color: #3B82F6;
  --primary-button-hover-color: #FFFFFF;
  --primary-button-hover-bg-color: #6c90c9;
  --primary-button-disable-color: #94A3B8;
  --primary-button-disable-bg-color: #FFFFFF;
  --secondary-button-color: #111827;
  --secondary-button-bg-color: #FFFFFF;
  --secondary-button-hover-color: #111827;
  --secondary-button-hover-bg-color: #F3F4F6;
  --secondary-button-disable-color: #94A3B8;
  --secondary-button-disable-bg-color: #FFFFFF;
  --loading-indicator-ring-color: #B1915D;
  --loading-indicator-bg-color: #8bb9f5;
  --loading-indicator-font-color: #ffffff;
  --qrcode-border-color: #1263CA;
  --info-icon-color: #1263CA;
  --toggle-button-inactive-bg-color: #FFFFFF;
  --toggle-button-inactive-border-color: #e77938;
  --toggle-button-active-bg-color: #FFFFFF;
  --toggle-button-active-border-color: #e77938;
  --toggle-button-inactive-ball-color: #323233;
  --toggle-button-inactive-ball-border-color: #323233;
  --toggle-button-active-ball-color: #1263CA;
  --toggle-button-active-ball-border-color: #1263CA;
  --toggle-button-ring-color: #9F4C42;
}

[class="veridonia"] {
  --login-card-box-color: #9F4C42;
  --login-card-box-hover-color: #1263CA;
  --login-card-box-focus-color: #1263CA;
  --login-background: #FCF7F5;
  --language-icon-color: #FFFFFF;
  --language-icon-bg-color: #b1915d;
  --brand-logo-url: url("../public/images/veridonia_logo.png");
  --background-logo-url: url("../public/images/illustration_one.png");
  --primary-button-color: #FFFFFF;
  --primary-button-bg-color: #6c90c9;
  --primary-button-hover-color: #FFFFFF;
  --primary-button-hover-bg-color: #6c90c9;
  --primary-button-disable-color: #94A3B8;
  --primary-button-disable-bg-color: #FFFFFF;
  --secondary-button-color: #111827;
  --secondary-button-bg-color: #FFFFFF;
  --secondary-button-hover-color: #111827;
  --secondary-button-hover-bg-color: #F3F4F6;
  --secondary-button-disable-color: #94A3B8;
  --secondary-button-disable-bg-color: #FFFFFF;
  --loading-indicator-ring-color: #9F4C42;
  --loading-indicator-bg-color: #8bb9f5;
  --loading-indicator-font-color: #ffffff;
  --qrcode-border-color: #ca8012;
  --info-icon-color: #e77938;
  --toggle-button-inactive-bg-color: #FFFFFF;
  --toggle-button-inactive-border-color: #e77938;
  --toggle-button-active-bg-color: #FFFFFF;
  --toggle-button-active-border-color: #e77938;
  --toggle-button-inactive-ball-color: #323233;
  --toggle-button-inactive-ball-border-color: #323233;
  --toggle-button-active-ball-color: #1263CA;
  --toggle-button-active-ball-border-color: #1263CA;
  --toggle-button-ring-color: #9F4C42;
}
