openapi: 3.1.0
info:
  version: '1.0'
  title: eSignet
  summary: Open ID Connect based identity provider for large scale authentication
  description: |-
    This API document details on the below categories of endpoints
    <ul>
    <li> Management - Endpoints for creation and updation of OIDC client details </li>
    <li> OIDC - All OIDC compliant endpoints for performing the Open ID Connect flows</li>
    <li> UI - All endpoints used by the UI application </li>
    </ul>

    <b>Abbreviations:</b></br></br>
    OIDC - Open ID Connect</br>
    IdP - Identity provider</br>
    PMP - Partner Management portal</br>
    KYC - Know Your Customer</br>
    IDA - Authentication server</br>
    UIN - Unique Identification Number</br>
    VID - Virtual Identifier</br>
    PSUT - Partner(Relying Party) Specific User Token</br>
    VC - Verifiable Credential</br>
  contact:
    name: MOSIP Team
    email: info@mosip.io
    url: 'https://www.mosip.io/'
  license:
    url: 'https://www.mozilla.org/en-US/MPL/2.0/'
    name: MPL-2.0
servers:
  - url: 'https://esignet.collab.mosip.net/v1/esignet'
paths:
  /client-mgmt/oidc-client:
    post:
      tags:
        - Management
      summary: Create OIDC Client Endpoint
      description: |-
        API to add new open ID connect (OIDC) clients, it can be invoked by other modules which manages the relying parties / partners.

        Each relying party can associate to one or multiple OIDC client ids.

        On create, OIDC client status will be by default set to "**active**".
      operationId: post-client
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              description: OIDC client details
              properties:
                requestTime:
                  type: string
                  description: Current date and time when the request is sent
                  format: date-time
                  pattern: ''
                request:
                  type: object
                  properties:
                    clientId:
                      type: string
                      description: 'Unique OIDC client id (Case-Sensitive). If duplicates found, request will be rejected.'
                      minLength: 1
                      maxLength: 50
                      examples:
                        - 785b806d0e594657b05aabdb30fff8a4
                    clientName:
                      type: string
                      description: Name of OIDC client.
                      minLength: 1
                      maxLength: 256
                      examples:
                        - ABC Health Care
                    relyingPartyId:
                      type: string
                      description: |-
                        Relying Party ID of the client. This will be passed on to authentications servers when KYC is fetched.

                        Note: Use the client Id as relyingPartyId if there is no separate concept of relying party in the ID authentication system.
                      minLength: 1
                      maxLength: 50
                      examples:
                        - bharathi-inc
                    logoUri:
                      type: string
                      description: Relying party logo URI which will used to display logo in OIDC login and consent pages.
                      format: uri
                      minLength: 1
                      maxLength: 1024
                    redirectUris:
                      type: array
                      description: |-
                        Valid list of callback Uris of the relying party. 
                        When OIDC authorize API is called, any one Uri from this list should be sent as redirect_uri. authorization_code will be redirected to this Uri on successful authentication.
                      items:
                        type: string
                    authContextRefs:
                      type: array
                      description: The Authentication Context Class Reference is case-sensitive string specifying a list of Authentication Context Class values that identifies the Authentication Context Class. Values that the authentication performed satisfied implying a Level Of Assurance.
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - 'mosip:idp:acr:static-code'
                          - 'mosip:idp:acr:generated-code'
                          - 'mosip:idp:acr:linked-wallet'
                          - 'mosip:idp:acr:biometrics'
                          - 'mosip:idp:acr:knowledge'
                          - 'mosip:idp:acr:password'
                          - 'mosip:idp:acr:id-token'
                    publicKey:
                      type: object
                      description: |-
                        OIDC client's public key used to verify the client's private_key_jwt when OIDC token endpoint is invoked. 
                        This field will not be allowed to udpate later, if the private key is compromised, then new OIDC client to be created.
                        Format : Json Web Key (JWK).
                    userClaims:
                      type: array
                      description: 'Allowed user info claims, that can be requested by OIDC client in the authorize API'
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - name
                          - given_name
                          - middle_name
                          - preferred_username
                          - nickname
                          - gender
                          - birthdate
                          - email
                          - phone_number
                          - picture
                          - address
                    grantTypes:
                      type: array
                      description: Form of Authorization Grant presented to token endpoint
                      minItems: 1
                      uniqueItems: true
                      items:
                        const: authorization_code
                    clientAuthMethods:
                      type: array
                      description: Auth method supported for token endpoint. At present only "private_key_jwt" is supported.
                      minItems: 1
                      items:
                        const: private_key_jwt
                  required:
                    - clientId
                    - clientName
                    - relyingPartyId
                    - logoUri
                    - authContextRefs
                    - publicKey
                    - userClaims
                    - grantTypes
                    - clientAuthMethods
              required:
                - requestTime
                - request
            examples:
              example-1:
                value:
                  requestTime: '2011-10-05T14:48:00.000Z'
                  request:
                    clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                    clientName: Fastlane e-Sim Service
                    relyingPartyId: Fastlane
                    logoUri: 'https://fastlane.com/fastline-esim.png'
                    redirectUris:
                      - 'https://fastlane.com/homepage'
                    publicKey:
                      kty: RSA
                      e: AQAB
                      use: sig
                      alg: RS256
                      'n': g7KPXZdZ18H2JoW9FhYz8WrSbLeKA5mO8ROW5YQVyzYDfjbRA9sy0FwpF7pa7mBmU1_G0RvD0xbEhSaFtCL5hyNVVZCfgVqNl41C7-F2yUWhfVQPhT5YnT3eH3gV9ZczhP1trNjIzGuH-8D7EDJcoxuwdGaaY-wTmEtHykHRyab08qr62hfwLuSjHAGN6VgV-Na81XIdXmR7Dwnd1U4MxWJxzRvnVlHFCBaZIG6jNJ21vbzM-DBMq1d8tvtrGQx4w3niK_sctUZ5NP1BLkQhYSEGLr-e_mbmHFCnGtuKfnfIm-PVD-6ihfEwX3j_YQT3LhphBZj7AdXg6iyyQn9EJQ
                    authContextRefs:
                      - 'mosip:idp:acr:generated-code'
                      - 'mosip:idp:acr:biometrics'
                      - 'mosip:idp:acr:linked-wallet'
                    userClaims:
                      - name
                      - email
                      - phone_number
                      - address
                    grantTypes:
                      - authorization_code
                    clientAuthMethods:
                      - private_key_jwt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseTime:
                    type: string
                    description: Date and time when the response is generated
                  response:
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: Client id as provided in the request.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                  errors:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        errorCode:
                          type: string
                          enum:
                            - duplicate_client_id
                            - invalid_public_key
                            - invalid_input
                            - invalid_client_id
                            - invalid_client_name
                            - invalid_rp_id
                            - invalid_claim
                            - invalid_acr
                            - invalid_uri
                            - invalid_redirect_uri
                            - invalid_grant_type
                            - invalid_client_auth
                        errorMessage:
                          type: string
              examples:
                Example 1:
                  value:
                    responseTime: '2023-09-22T08:01:13.000Z'
                    response:
                      clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                      status: ACTIVE
        '401':
          description: Unauthorized
      deprecated: true
      security:
        - Authorization-add_oidc_client: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
      x-internal: false
  /client-mgmt/oauth-client:
    post:
      tags:
        - Management
      summary: Create OAuth/OIDC Client Endpoint
      description: |-
        API to add new OAuth or open ID connect (OIDC) clients. This API should be used to create client in esignet by the partner management modules in the integrated ID system.

        Each relying party can associate with one or more client ids.

        On create, client status will be by default set to "**ACTIVE**".
      operationId: post-oauth-client
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              description: OIDC client details
              required:
                - requestTime
                - request
              properties:
                requestTime:
                  type: string
                  description: Current date and time when the request is sent
                  format: date-time
                  pattern: ''
                request:
                  type: object
                  required:
                    - clientId
                    - clientName
                    - clientNameLangMap
                    - relyingPartyId
                    - logoUri
                    - authContextRefs
                    - publicKey
                    - userClaims
                    - grantTypes
                    - clientAuthMethods
                  properties:
                    clientId:
                      type: string
                      description: 'Unique client id (Case-Sensitive). If duplicates found, request will be rejected.'
                      minLength: 1
                      maxLength: 50
                      examples:
                        - 785b806d0e594657b05aabdb30fff8a4
                    clientName:
                      type: string
                      description: Name of OAuth/OIDC client.
                      minLength: 1
                      maxLength: 256
                      examples:
                        - ABC Health Care
                    clientNameLangMap:
                      type: object
                      description: |-
                        Client name in different languages. The language code needs to be passed as key and 
                        client name in the desired language needs to be passed as value
                    relyingPartyId:
                      type: string
                      description: |-
                        Relying Party ID of the client. This will be passed on to authentications servers when KYC is fetched.

                        Note: Use the client Id as relyingPartyId if there is no separate concept of relying party in the ID authentication system.
                      minLength: 1
                      maxLength: 50
                      examples:
                        - bharathi-inc
                    logoUri:
                      type: string
                      description: Relying party logo URI which will used to display logo in the login and consent pages.
                      format: uri
                      minLength: 1
                      maxLength: 1024
                    redirectUris:
                      type: array
                      description: |-
                        Valid list of callback Uris of the relying party. 
                        When the authorize API is called, any one Uri from this list should be sent as redirect_uri. authorization_code will be redirected to this Uri on successful authentication.
                      items:
                        type: string
                    authContextRefs:
                      type: array
                      description: The Authentication Context Class Reference is case-sensitive string specifying a list of Authentication Context Class values that identifies the Authentication Context Class. Values that the authentication performed satisfied implying a Level Of Assurance.
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - 'mosip:idp:acr:static-code'
                          - 'mosip:idp:acr:generated-code'
                          - 'mosip:idp:acr:linked-wallet'
                          - 'mosip:idp:acr:biometrics'
                          - 'mosip:idp:acr:knowledge'
                          - 'mosip:idp:acr:id-token'
                          - 'mosip:idp:acr:password'
                    publicKey:
                      type: object
                      description: |-
                        OAuth/OIDC client's public key used to verify the client's private_key_jwt when token endpoint is invoked. 
                        This field will not be allowed to udpate later, if the private key is compromised, then new OAuth/OIDC client to be created.
                        Format : Json Web Key (JWK).
                    userClaims:
                      type: array
                      description: 'Allowed user info claims, that can be requested by OIDC client in the authorize API'
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - name
                          - given_name
                          - middle_name
                          - preferred_username
                          - nickname
                          - gender
                          - birthdate
                          - email
                          - phone_number
                          - picture
                          - address
                    grantTypes:
                      type: array
                      description: Form of Authorization Grant presented to token endpoint
                      minItems: 1
                      uniqueItems: true
                      items:
                        const: authorization_code
                    clientAuthMethods:
                      type: array
                      description: Auth method supported for token endpoint. At present only "private_key_jwt" is supported.
                      minItems: 1
                      items:
                        const: private_key_jwt
            examples:
              example-1:
                value:
                  requestTime: '2011-10-05T14:48:00.000Z'
                  request:
                    clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                    clientName: Fastlane e-Sim Service
                    clientNameLangMap:
                      fra: Service e-Sim de Fastlane
                      ara: خدمة فاست لين e-SIM
                    relyingPartyId: Fastlane
                    logoUri: 'https://fastlane.com/fastlane-esim.png'
                    redirectUris:
                      - 'https://fastlane.com/homepage'
                      - 'io.mosip.residentapp://oauth'
                    publicKey:
                      kty: RSA
                      e: AQAB
                      use: sig
                      alg: RS256
                      'n': g7KPXZdZ18H2JoW9FhYz8WrSbLeKA5mO8ROW5YQVyzYDfjbRA9sy0FwpF7pa7mBmU1_G0RvD0xbEhSaFtCL5hyNVVZCfgVqNl41C7-F2yUWhfVQPhT5YnT3eH3gV9ZczhP1trNjIzGuH-8D7EDJcoxuwdGaaY-wTmEtHykHRyab08qr62hfwLuSjHAGN6VgV-Na81XIdXmR7Dwnd1U4MxWJxzRvnVlHFCBaZIG6jNJ21vbzM-DBMq1d8tvtrGQx4w3niK_sctUZ5NP1BLkQhYSEGLr-e_mbmHFCnGtuKfnfIm-PVD-6ihfEwX3j_YQT3LhphBZj7AdXg6iyyQn9EJQ
                    authContextRefs:
                      - 'mosip:idp:acr:generated-code'
                      - 'mosip:idp:acr:biometrics'
                      - 'mosip:idp:acr:linked-wallet'
                    userClaims:
                      - name
                      - email
                      - phone_number
                      - address
                    grantTypes:
                      - authorization_code
                    clientAuthMethods:
                      - private_key_jwt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseTime:
                    type: string
                    description: Date and time when the response is generated
                  response:
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: Client id as provided in the request.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                  errors:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        errorCode:
                          type: string
                          enum:
                            - duplicate_client_id
                            - invalid_public_key
                            - invalid_input
                            - invalid_client_id
                            - invalid_client_name
                            - invalid_rp_id
                            - invalid_claim
                            - invalid_acr
                            - invalid_uri
                            - invalid_redirect_uri
                            - invalid_grant_type
                            - invalid_client_auth
                            - invalid_language_code
                            - invalid_client_name_value
                        errorMessage:
                          type: string
              examples:
                Example 1:
                  value:
                    responseTime: '2023-09-22T08:01:13.000Z'
                    response:
                      clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                      status: ACTIVE
                    errors: []
        '401':
          description: Unauthorized
      security:
        - Authorization-add_oidc_client: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
      x-internal: false
      deprecated: true
  /client-mgmt/client:
    post:
      tags:
        - Management
      summary: Create OAuth/OIDC Client Endpoint
      description: |-
        API to add new OAuth or open ID connect (OIDC) clients. This API should be used to create client in esignet by the partner management modules in the integrated ID system.

        Each relying party can associate with one or more client ids.

        On create, client status will be by default set to "**ACTIVE**".
      operationId: post-client-mgmt-client
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              description: OIDC client details
              required:
                - requestTime
                - request
              properties:
                requestTime:
                  type: string
                  description: Current date and time when the request is sent
                  format: date-time
                  pattern: ''
                request:
                  type: object
                  required:
                    - clientId
                    - clientName
                    - clientNameLangMap
                    - relyingPartyId
                    - logoUri
                    - authContextRefs
                    - publicKey
                    - userClaims
                    - grantTypes
                    - clientAuthMethods
                  properties:
                    clientId:
                      type: string
                      description: 'Unique client id (Case-Sensitive). If duplicates found, request will be rejected.'
                      minLength: 1
                      maxLength: 50
                      examples:
                        - 785b806d0e594657b05aabdb30fff8a4
                    clientName:
                      type: string
                      description: Name of OAuth/OIDC client.
                      minLength: 1
                      maxLength: 256
                      examples:
                        - ABC Health Care
                    clientNameLangMap:
                      type: object
                      description: |-
                        Client name in different languages. The language code needs to be passed as key and 
                        client name in the desired language needs to be passed as value
                    relyingPartyId:
                      type: string
                      description: |-
                        Relying Party ID of the client. This will be passed on to authentications servers when KYC is fetched.

                        Note: Use the client Id as relyingPartyId if there is no separate concept of relying party in the ID authentication system.
                      minLength: 1
                      maxLength: 50
                      examples:
                        - bharathi-inc
                    logoUri:
                      type: string
                      description: Relying party logo URI which will used to display logo in the login and consent pages.
                      format: uri
                      minLength: 1
                      maxLength: 1024
                    redirectUris:
                      type: array
                      description: |-
                        Valid list of callback Uris of the relying party. 
                        When the authorize API is called, any one Uri from this list should be sent as redirect_uri. authorization_code will be redirected to this Uri on successful authentication.
                      items:
                        type: string
                    authContextRefs:
                      type: array
                      description: The Authentication Context Class Reference is case-sensitive string specifying a list of Authentication Context Class values that identifies the Authentication Context Class. Values that the authentication performed satisfied implying a Level Of Assurance.
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - 'mosip:idp:acr:static-code'
                          - 'mosip:idp:acr:generated-code'
                          - 'mosip:idp:acr:linked-wallet'
                          - 'mosip:idp:acr:biometrics'
                          - 'mosip:idp:acr:knowledge'
                          - 'mosip:idp:acr:id-token'
                          - 'mosip:idp:acr:password'
                    publicKey:
                      type: object
                      description: |-
                        OAuth/OIDC client's public key used to verify the client's private_key_jwt when token endpoint is invoked. 
                        This field will not be allowed to udpate later, if the private key is compromised, then new OAuth/OIDC client to be created.
                        Format : Json Web Key (JWK).
                    userClaims:
                      type: array
                      description: 'Allowed user info claims, that can be requested by OIDC client in the authorize API'
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - name
                          - given_name
                          - middle_name
                          - preferred_username
                          - nickname
                          - gender
                          - birthdate
                          - email
                          - phone_number
                          - picture
                          - address
                    grantTypes:
                      type: array
                      description: Form of Authorization Grant presented to token endpoint
                      minItems: 1
                      uniqueItems: true
                      items:
                        const: authorization_code
                    clientAuthMethods:
                      type: array
                      description: Auth method supported for token endpoint. At present only "private_key_jwt" is supported.
                      minItems: 1
                      items:
                        const: private_key_jwt
                    additionalConfig:
                      type: object
                      description: 'This parameter allow us to configure the required values based on their specific authentication and integration needs, ensuring efficient implementation of eSignet for ID verification/authentication.'
                      properties:
                        userinfo_response_type:
                          enum:
                            - JWS
                            - JWE
                          description: The response type for the user info endpoint should be configurable to allow the Relying Party to choose between only signed tokens or signed tokens with encryption.
                        purpose:
                          $ref: '#/components/schemas/Purpose'
                        signup_banner_required:
                          type: boolean
                          description: Relying Parties should be able to specify whether they require eSignet sign-up. If no signup service is required UI should not have “Sign up with Unified login“ option.
                        forgot_pwd_link_required:
                          type: boolean
                          description: Relying Parties should be able to specify whether they require eSignet forgot password feature. If it is not required UI should not have “Forgot password“ option
                        consent_expire_in_mins:
                          type: number
                          minimum: 10
                          description: The number of minuets after which a user's given consent will expire.
                        require_pushed_authorization_requests:
                          type: boolean
                          description: 'Boolean parameter indicating whether the only means of initiating an authorization request the client is allowed to use is PAR. If omitted, the default value is false.'
                        dpop_bound_access_tokens:
                          type: boolean
                          description: 'A boolean value specifying whether the client always uses DPoP for token requests. If omitted, the default value is false. If the value is true, the eSignet rejects token request from the client that do not contain the DPoP header.'
            examples:
              example-1:
                value:
                  requestTime: '2011-10-05T14:48:00.000Z'
                  request:
                    clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                    clientName: Fastlane e-Sim Service
                    clientNameLangMap:
                      fra: Service e-Sim de Fastlane
                      ara: خدمة فاست لين e-SIM
                    relyingPartyId: Fastlane
                    logoUri: 'https://fastlane.com/fastlane-esim.png'
                    redirectUris:
                      - 'https://fastlane.com/homepage'
                      - 'io.mosip.residentapp://oauth'
                    publicKey:
                      kty: RSA
                      e: AQAB
                      use: sig
                      alg: RS256
                      'n': g7KPXZdZ18H2JoW9FhYz8WrSbLeKA5mO8ROW5YQVyzYDfjbRA9sy0FwpF7pa7mBmU1_G0RvD0xbEhSaFtCL5hyNVVZCfgVqNl41C7-F2yUWhfVQPhT5YnT3eH3gV9ZczhP1trNjIzGuH-8D7EDJcoxuwdGaaY-wTmEtHykHRyab08qr62hfwLuSjHAGN6VgV-Na81XIdXmR7Dwnd1U4MxWJxzRvnVlHFCBaZIG6jNJ21vbzM-DBMq1d8tvtrGQx4w3niK_sctUZ5NP1BLkQhYSEGLr-e_mbmHFCnGtuKfnfIm-PVD-6ihfEwX3j_YQT3LhphBZj7AdXg6iyyQn9EJQ
                    authContextRefs:
                      - 'mosip:idp:acr:generated-code'
                      - 'mosip:idp:acr:biometrics'
                      - 'mosip:idp:acr:linked-wallet'
                    userClaims:
                      - name
                      - email
                      - phone_number
                      - address
                    grantTypes:
                      - authorization_code
                    clientAuthMethods:
                      - private_key_jwt
                    additionalConfig:
                      userinfo_response_type: JWS
                      purpose:
                        title:
                          '@none': Title
                        type: verify
                        subTitle:
                          '@none': subTitle
                      signup_banner_required: true
                      forgot_pwd_link_required: true
                      consent_expire_in_mins: 30
                      require_pushed_authorization_requests: true
                      dpop_bound_access_tokens: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseTime:
                    type: string
                    description: Date and time when the response is generated
                  response:
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: Client id as provided in the request.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                  errors:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        errorCode:
                          type: string
                          enum:
                            - duplicate_client_id
                            - invalid_public_key
                            - invalid_input
                            - invalid_client_id
                            - invalid_client_name
                            - invalid_rp_id
                            - invalid_claim
                            - invalid_acr
                            - invalid_uri
                            - invalid_redirect_uri
                            - invalid_grant_type
                            - invalid_client_auth
                            - invalid_language_code
                            - invalid_client_name_value
                            - invalid_additional_config
                        errorMessage:
                          type: string
              examples:
                Example 1:
                  value:
                    responseTime: '2023-09-22T08:01:13.000Z'
                    response:
                      clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                      status: ACTIVE
                    errors: []
        '401':
          description: Unauthorized
      security:
        - Authorization-add_oidc_client: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
      x-internal: false
  '/client-mgmt/oidc-client/{client_id}':
    put:
      tags:
        - Management
      summary: Update OIDC Client Endpoint
      description: |-
        API to update existing Open ID Connect (OIDC) client, it can be invoked by other modules which manages the relying parties / partners when there any updates on the fields accepted in this API.

        **Authentication and authorization** is based on a valid JWT issued by a trusted IAM system including "**update_oidc_client**" scope.
      operationId: put-oidc-client-client_id
      parameters:
        - name: client_id
          in: path
          description: Client Identifier
          required: true
          schema:
            type: string
            examples:
              - WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                requestTime:
                  type: string
                  description: Current date and time when the request is sent
                  pattern: ''
                request:
                  type: object
                  properties:
                    clientName:
                      type: string
                      description: Name of the OIDC client.
                      minLength: 1
                      maxLength: 256
                      examples:
                        - ABC Health Care
                    status:
                      type: string
                      enum:
                        - active
                        - inactive
                      description: Status of OIDC client.
                    logoUri:
                      type: string
                      description: Relying party logo URI which will used to display logo in OIDC login and consent pages.
                      format: uri
                      minLength: 1
                      maxLength: 1024
                    redirectUris:
                      type: array
                      description: 'Valid list of callback Uris of the relying party. When OIDC authorize API is called, any one Uri from this list should be sent as redirect_uri. authorization_code will be redirected to this Uri on successful authentication.'
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: string
                        format: uri
                    userClaims:
                      type: array
                      description: 'Allowed user info claims, that can be requested by OIDC client in the authorize API'
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - name
                          - given_name
                          - middle_name
                          - preferred_username
                          - nickname
                          - gender
                          - birthdate
                          - email
                          - phone_number
                          - picture
                          - address
                    authContextRefs:
                      type: array
                      description: The Authentication Context Class Reference is case-sensitive string specifying a list of Authentication Context Class values that identifies the Authentication Context Class. Values that the authentication performed satisfied implying a Level Of Assurance.
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: string
                        enum:
                          - 'mosip:idp:acr:static-code'
                          - 'mosip:idp:acr:generated-code'
                          - 'mosip:idp:acr:linked-wallet'
                          - 'mosip:idp:acr:biometrics'
                    grantTypes:
                      type: array
                      description: Form of Authorization Grant presented to token endpoint.
                      minItems: 1
                      items:
                        const: authorization_code
                    clientAuthMethods:
                      type: array
                      description: Auth method supported for token endpoint. At present only "private_key_jwt" is supported.
                      minItems: 1
                      items:
                        const: private_key_jwt
                  required:
                    - clientName
                    - status
                    - logoUri
                    - redirectUris
                    - userClaims
                    - authContextRefs
                    - grantTypes
                    - clientAuthMethods
              required:
                - requestTime
                - request
            examples:
              example-1:
                value:
                  requestTime: '2011-10-05T14:48:00.000Z'
                  request:
                    clientName: Fastlane e-Sim Service
                    status: active
                    logoUri: 'https://fastline.com/logo.png'
                    redirectUris:
                      - 'https://fastlane.com/homepage'
                      - 'https://fastlane-dev.com/*'
                      - 'fastlaneapp://oauth/*'
                    authContextRefs:
                      - 'mosip:idp:acr:biometrics'
                      - 'mosip:idp:acr:generated-code'
                      - 'mosip:idp:acr:linked-wallet'
                    userClaims:
                      - name
                      - email
                      - phone_number
                      - address
                    grantTypes:
                      - authorization_code
                    clientAuthMethods:
                      - private_key_jwt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseTime:
                    type: string
                    description: Date and time when the response is generated
                  response:
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: OIDC client identifier.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                    required:
                      - clientId
                  errors:
                    type: array
                    description: 'List of Errors in case of request validation / processing failure in Idp server. When request processing is fully successful, this array will be empty.'
                    items:
                      type: object
                      properties:
                        errorCode:
                          type: string
                          enum:
                            - invalid_client_id
                            - invalid_client_name
                            - invalid_claim
                            - invalid_acr
                            - invalid_uri
                            - invalid_redirect_uri
                            - invalid_grant_type
                            - invalid_client_auth
                        errorMessage:
                          type: string
              examples:
                Example 1:
                  value:
                    responseTime: '2023-09-22T08:01:13.000Z'
                    response:
                      clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                      status: ACTIVE
                    errors: []
      deprecated: true
      security:
        - Authorization-update_oidc_client: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
  '/client-mgmt/oauth-client/{client_id}':
    put:
      tags:
        - Management
      summary: Update OAuth/OIDC Client Endpoint
      description: |-
        API to update existing OAuth/Open ID Connect (OIDC) client, it can be invoked by other modules which manages the relying parties / partners when there any updates on the fields accepted in this API.

        **Authentication and authorization** is based on a valid JWT issued by a trusted IAM system including "**update_oidc_client**" scope.
      operationId: put-oauth-client-client_id
      parameters:
        - name: client_id
          in: path
          description: Client Identifier
          required: true
          schema:
            type: string
            examples:
              - WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                requestTime:
                  type: string
                  description: Current date and time when the request is sent
                  pattern: ''
                request:
                  type: object
                  properties:
                    clientName:
                      type: string
                      description: Name of the OAuth/OIDC client.
                      minLength: 1
                      maxLength: 256
                      examples:
                        - ABC Health Care
                    clientNameLangMap:
                      type: object
                      description: |-
                        Client name in different languages. The 3 letter language code needs to be passed as key and 
                        client name in the desired language needs to be passed as value
                    status:
                      type: string
                      enum:
                        - active
                        - inactive
                      description: Status of the Client.
                    logoUri:
                      type: string
                      description: Relying party logo URI which will used to display logo in the login and consent pages.
                      format: uri
                      minLength: 1
                      maxLength: 1024
                    redirectUris:
                      type: array
                      description: 'Valid list of callback Uris of the relying party. When the authorize API is called, any one Uri from this list should be sent as redirect_uri. authorization_code will be redirected to this Uri on successful authentication.'
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: string
                        format: uri
                    userClaims:
                      type: array
                      description: 'Allowed user info claims, that can be requested by OIDC client in the authorize API'
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - name
                          - given_name
                          - middle_name
                          - preferred_username
                          - nickname
                          - gender
                          - birthdate
                          - email
                          - phone_number
                          - picture
                          - address
                    authContextRefs:
                      type: array
                      description: The Authentication Context Class Reference is case-sensitive string specifying a list of Authentication Context Class values that identifies the Authentication Context Class. Values that the authentication performed satisfied implying a Level Of Assurance.
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: string
                        enum:
                          - 'mosip:idp:acr:static-code'
                          - 'mosip:idp:acr:generated-code'
                          - 'mosip:idp:acr:linked-wallet'
                          - 'mosip:idp:acr:biometrics'
                          - 'mosip:idp:acr:id-token'
                          - 'mosip:idp:acr:password'
                          - 'mosip:idp:acr:knowledge'
                    grantTypes:
                      type: array
                      description: Form of Authorization Grant presented to token endpoint.
                      minItems: 1
                      items:
                        const: authorization_code
                    clientAuthMethods:
                      type: array
                      description: Auth method supported for token endpoint. At present only "private_key_jwt" is supported.
                      minItems: 1
                      items:
                        const: private_key_jwt
                  required:
                    - clientName
                    - clientNameLangMap
                    - status
                    - logoUri
                    - redirectUris
                    - userClaims
                    - authContextRefs
                    - grantTypes
                    - clientAuthMethods
              required:
                - requestTime
                - request
            examples:
              Example 1:
                value:
                  requestTime: '2011-10-05T14:48:00.000Z'
                  request:
                    clientName: Fastlane e-Sim Service
                    status: active
                    clientNameLangMap:
                      fra: Service e-Sim de Fastlane
                      ara: خدمة فاست لين e-SIM
                    logoUri: 'https://fastlane.com/logo.png'
                    redirectUris:
                      - 'https://fastlane.com/homepage'
                      - 'http://fastlane-dev.com/*'
                      - 'fastlaneapp://oauth/*'
                    authContextRefs:
                      - 'mosip:idp:acr:biometrics'
                      - 'mosip:idp:acr:generated-code'
                      - 'mosip:idp:acr:linked-wallet'
                    userClaims:
                      - name
                      - email
                      - phone_number
                      - address
                    grantTypes:
                      - authorization_code
                    clientAuthMethods:
                      - private_key_jwt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseTime:
                    type: string
                    description: Date and time when the response is generated
                  response:
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: Client identifier.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                    required:
                      - clientId
                  errors:
                    type: array
                    description: 'List of Errors in case of request validation / processing failure in Idp server. When request processing is fully successful, this array will be empty.'
                    items:
                      type: object
                      properties:
                        errorCode:
                          type: string
                          enum:
                            - invalid_client_id
                            - invalid_client_name
                            - invalid_claim
                            - invalid_acr
                            - invalid_uri
                            - invalid_redirect_uri
                            - invalid_grant_type
                            - invalid_client_auth
                            - invalid_client_name_value
                            - invalid_language_code
                        errorMessage:
                          type: string
              examples:
                Example 1:
                  value:
                    responseTime: '2023-09-22T08:01:13.000Z'
                    response:
                      clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                      status: ACTIVE
                    errors: []
      security:
        - Authorization-update_oidc_client: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
      deprecated: true
  '/client-mgmt/client/{client_id}':
    put:
      tags:
        - Management
      summary: Update OAuth/OIDC Client Endpoint
      description: |-
        API to update existing OAuth/Open ID Connect (OIDC) client, it can be invoked by other modules which manages the relying parties / partners when there any updates on the fields accepted in this API.

        **Authentication and authorization** is based on a valid JWT issued by a trusted IAM system including "**update_oidc_client**" scope.
      operationId: put-client-client_id
      parameters:
        - name: client_id
          in: path
          description: Client Identifier
          required: true
          schema:
            type: string
            examples:
              - WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              required:
                - requestTime
                - request
              properties:
                requestTime:
                  type: string
                  description: Current date and time when the request is sent
                  pattern: ''
                request:
                  type: object
                  required:
                    - clientName
                    - clientNameLangMap
                    - status
                    - logoUri
                    - redirectUris
                    - userClaims
                    - authContextRefs
                    - grantTypes
                    - clientAuthMethods
                  properties:
                    clientName:
                      type: string
                      description: Name of the OAuth/OIDC client.
                      minLength: 1
                      maxLength: 256
                      examples:
                        - ABC Health Care
                    clientNameLangMap:
                      type: object
                      description: |-
                        Client name in different languages. The 3 letter language code needs to be passed as key and 
                        client name in the desired language needs to be passed as value
                    status:
                      type: string
                      enum:
                        - active
                        - inactive
                      description: Status of the Client.
                    logoUri:
                      type: string
                      description: Relying party logo URI which will used to display logo in the login and consent pages.
                      format: uri
                      minLength: 1
                      maxLength: 1024
                    redirectUris:
                      type: array
                      description: 'Valid list of callback Uris of the relying party. When the authorize API is called, any one Uri from this list should be sent as redirect_uri. authorization_code will be redirected to this Uri on successful authentication.'
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: string
                        format: uri
                    userClaims:
                      type: array
                      description: 'Allowed user info claims, that can be requested by OIDC client in the authorize API'
                      minItems: 1
                      items:
                        type: string
                        enum:
                          - name
                          - given_name
                          - middle_name
                          - preferred_username
                          - nickname
                          - gender
                          - birthdate
                          - email
                          - phone_number
                          - picture
                          - address
                    authContextRefs:
                      type: array
                      description: The Authentication Context Class Reference is case-sensitive string specifying a list of Authentication Context Class values that identifies the Authentication Context Class. Values that the authentication performed satisfied implying a Level Of Assurance.
                      minItems: 1
                      uniqueItems: true
                      items:
                        type: string
                        enum:
                          - 'mosip:idp:acr:static-code'
                          - 'mosip:idp:acr:generated-code'
                          - 'mosip:idp:acr:linked-wallet'
                          - 'mosip:idp:acr:biometrics'
                          - 'mosip:idp:acr:id-token'
                          - 'mosip:idp:acr:password'
                          - 'mosip:idp:acr:knowledge'
                    grantTypes:
                      type: array
                      description: Form of Authorization Grant presented to token endpoint.
                      minItems: 1
                      items:
                        const: authorization_code
                    clientAuthMethods:
                      type: array
                      description: Auth method supported for token endpoint. At present only "private_key_jwt" is supported.
                      minItems: 1
                      items:
                        const: private_key_jwt
                    additionalConfig:
                      type: object
                      description: 'This parameter allow us to configure the required values based on their specific authentication and integration needs, ensuring efficient implementation of eSignet for ID verification/authentication.'
                      properties:
                        userinfo_response_type:
                          enum:
                            - JWS
                            - JWE
                          description: The response type for the user info endpoint should be configurable to allow the Relying Party to choose between only signed tokens or signed tokens with encryption.
                        purpose:
                          $ref: '#/components/schemas/Purpose'
                        signup_banner_required:
                          type: boolean
                          description: Relying Parties should be able to specify whether they require eSignet sign-up. If no signup service is required UI should not have “Sign up with Unified login“ option.
                        forgot_pwd_link_required:
                          type: boolean
                          description: Relying Parties should be able to specify whether they require eSignet forgot password feature. If it is not required UI should not have “Forgot password“ option
                        consent_expire_in_mins:
                          type: number
                          minimum: 10
                          description: The number of minuets after which a user's given consent will expire.
                        require_pushed_authorization_requests:
                          type: boolean
                          description: 'Boolean parameter indicating whether the only means of initiating an authorization request the client is allowed to use is PAR. If omitted, the default value is false.'
                        dpop_bound_access_tokens:
                          type: boolean
                          description: 'A boolean value specifying whether the client always uses DPoP for token requests. If omitted, the default value is false. If the value is true, the eSignet rejects token request from the client that do not contain the DPoP header.'
            examples:
              Example 1:
                value:
                  requestTime: '2011-10-05T14:48:00.000Z'
                  request:
                    clientName: Fastlane e-Sim Service
                    status: active
                    clientNameLangMap:
                      fra: Service e-Sim de Fastlane
                      ara: خدمة فاست لين e-SIM
                    logoUri: 'https://fastlane.com/logo.png'
                    redirectUris:
                      - 'https://fastlane.com/homepage'
                      - 'http://fastlane-dev.com/*'
                      - 'fastlaneapp://oauth/*'
                    authContextRefs:
                      - 'mosip:idp:acr:biometrics'
                      - 'mosip:idp:acr:generated-code'
                      - 'mosip:idp:acr:linked-wallet'
                    userClaims:
                      - name
                      - email
                      - phone_number
                      - address
                    grantTypes:
                      - authorization_code
                    clientAuthMethods:
                      - private_key_jwt
                    additionalConfig:
                      userinfo_response_type: JWS
                      purpose:
                        title:
                          '@none': Title
                        type: verify
                        subTitle:
                          '@none': subTitle
                      signup_banner_required: true
                      forgot_pwd_link_required: true
                      consent_expire_in_mins: 30
                      require_pushed_authorization_requests: false
                      dpop_bound_access_tokens: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseTime:
                    type: string
                    description: Date and time when the response is generated
                  response:
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: Client identifier.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                    required:
                      - clientId
                  errors:
                    type: array
                    description: 'List of Errors in case of request validation / processing failure in Idp server. When request processing is fully successful, this array will be empty.'
                    items:
                      type: object
                      properties:
                        errorCode:
                          type: string
                          enum:
                            - invalid_client_id
                            - invalid_client_name
                            - invalid_claim
                            - invalid_acr
                            - invalid_uri
                            - invalid_redirect_uri
                            - invalid_grant_type
                            - invalid_client_auth
                            - invalid_client_name_value
                            - invalid_language_code
                            - invalid_additional_config
                        errorMessage:
                          type: string
              examples:
                Example 1:
                  value:
                    responseTime: '2023-09-22T08:01:13.000Z'
                    response:
                      clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                      status: ACTIVE
                    errors: []
      security:
        - Authorization-update_oidc_client: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
    patch:
      tags:
        - Management
      summary: Partially Update OAuth/OIDC Client Endpoint
      description: |-
        API to partially update existing OAuth/Open ID Connect (OIDC) client. Only provided fields will be updated.
        
        **Special handling for encPublicKey:**
        - When set/updated: validates format and computes enc_public_key_hash
        - When explicitly set to null: clears both enc_public_key and enc_public_key_hash
        - When not present in request: leaves both fields unchanged

        **Authentication and authorization** is based on a valid JWT issued by a trusted IAM system including "**update_oidc_client**" scope.
      operationId: patch-client-client_id
      parameters:
        - name: client_id
          in: path
          description: Client Identifier
          required: true
          schema:
            type: string
            examples:
              - WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
      requestBody:
        description: Partial update request - only include fields to update
        content:
          application/json:
            schema:
              type: object
              required:
                - requestTime
                - request
              properties:
                requestTime:
                  type: string
                  description: Current date and time when the request is sent
                request:
                  type: object
                  description: All fields are optional. Only provided fields will be updated.
                  properties:
                    clientName:
                      type: string
                      description: Name of the OAuth/OIDC client.
                      minLength: 1
                      maxLength: 256
                    clientNameLangMap:
                      type: object
                      description: Client name in different languages.
                      additionalProperties:
                        type: string
                        minLength: 1
                        maxLength: 50
                    status:
                      type: string
                      enum:
                        - ACTIVE
                        - INACTIVE
                      description: Status of the Client.
                    logoUri:
                      type: string
                      description: Relying party logo URI.
                      format: uri
                    redirectUris:
                      type: array
                      description: Valid list of callback URIs.
                      minItems: 1
                      maxItems: 5
                      uniqueItems: true
                      items:
                        type: string
                        format: uri
                    userClaims:
                      type: array
                      description: Allowed user info claims that can be requested by OIDC client.
                      minItems: 1
                      maxItems: 30
                      uniqueItems: true
                      items:
                        type: string
                        enum:
                          - name
                          - given_name
                          - middle_name
                          - preferred_username
                          - nickname
                          - gender
                          - birthdate
                          - email
                          - phone_number
                          - picture
                          - address
                    authContextRefs:
                      type: array
                      description: Authentication Context Class Reference values.
                      minItems: 1
                      maxItems: 30
                      uniqueItems: true
                      items:
                        type: string
                        enum:
                          - 'mosip:idp:acr:static-code'
                          - 'mosip:idp:acr:generated-code'
                          - 'mosip:idp:acr:linked-wallet'
                          - 'mosip:idp:acr:biometrics'
                          - 'mosip:idp:acr:knowledge'
                          - 'mosip:idp:acr:password'
                          - 'mosip:idp:acr:id-token'
                    grantTypes:
                      type: array
                      description: Form of Authorization Grant presented to token endpoint.
                      minItems: 1
                      maxItems: 3
                      uniqueItems: true
                      items:
                        type: string
                        enum:
                          - authorization_code
                    clientAuthMethods:
                      type: array
                      description: Auth method supported for token endpoint. At present only "private_key_jwt" is supported.
                      minItems: 1
                      maxItems: 3
                      uniqueItems: true
                      items:
                        type: string
                        enum:
                          - private_key_jwt
                    additionalConfig:
                      type: object
                      description: 'This parameter allow us to configure the required values based on their specific authentication and integration needs, ensuring efficient implementation of eSignet for ID verification/authentication.'
                      properties:
                        userinfo_response_type:
                          type: string
                          enum:
                            - JWS
                            - JWE
                          description: The response type for the user info endpoint should be configurable to allow the Relying Party to choose between only signed tokens or signed tokens with encryption.
                        purpose:
                          $ref: '#/components/schemas/Purpose'
                        signup_banner_required:
                          type: boolean
                          description: Relying Parties should be able to specify whether they require eSignet sign-up. If no signup service is required UI should not have "Sign up with Unified login" option.
                        forgot_pwd_link_required:
                          type: boolean
                          description: Relying Parties should be able to specify whether they require eSignet forgot password feature. If it is not required UI should not have "Forgot password" option.
                        consent_expire_in_mins:
                          type: number
                          minimum: 10
                          description: The number of minutes after which a user's given consent will expire.
                        require_pushed_authorization_requests:
                          type: boolean
                          description: 'Boolean parameter indicating whether the only means of initiating an authorization request the client is allowed to use is PAR. If omitted, the default value is false.'
                        dpop_bound_access_tokens:
                          type: boolean
                          description: 'A boolean value specifying whether the client always uses DPoP for token requests. If omitted, the default value is false. If the value is true, the eSignet rejects token request from the client that do not contain the DPoP header.'
                    encPublicKey:
                      description: |-
                        Encryption public key in JWK format for userinfo JWE encryption.
                        - Set to a valid JWK object to update
                        - Set to null to clear the encryption key
                        - Omit to leave unchanged
                      oneOf:
                        - type: 'null'
                        - title: RSA Encryption Key
                          type: object
                          description: RSA public key for encryption
                          properties:
                            kty:
                              type: string
                              description: Key type (RSA)
                              enum:
                                - RSA
                            n:
                              type: string
                              description: RSA modulus (Base64URL encoded)
                              minLength: 1
                            e:
                              type: string
                              description: RSA exponent
                              enum:
                                - AQAB
                            use:
                              type: string
                              description: Key use (enc for encryption)
                              enum:
                                - enc
                            alg:
                              type: string
                              description: Algorithm for key management
                              enum:
                                - RSA-OAEP-256
                                - RSA-OAEP
                            kid:
                              type: string
                              description: Key ID
                          required:
                            - kty
                            - n
                            - e
                        - title: EC Encryption Key
                          type: object
                          description: Elliptic Curve public key for encryption
                          properties:
                            kty:
                              type: string
                              description: Key type (EC)
                              enum:
                                - EC
                            crv:
                              type: string
                              description: Curve name
                              enum:
                                - P-256
                                - P-384
                                - P-521
                            x:
                              type: string
                              description: X coordinate (Base64URL encoded)
                              minLength: 1
                            y:
                              type: string
                              description: Y coordinate (Base64URL encoded)
                              minLength: 1
                            use:
                              type: string
                              description: Key use (enc for encryption)
                              enum:
                                - enc
                            alg:
                              type: string
                              description: Algorithm for key management
                              enum:
                                - ECDH-ES
                                - ECDH-ES+A128KW
                                - ECDH-ES+A192KW
                                - ECDH-ES+A256KW
                            kid:
                              type: string
                              description: Key ID
                          required:
                            - kty
                            - crv
                            - x
                            - y
            examples:
              Update Status Only:
                value:
                  requestTime: '2024-01-15T10:30:00.000Z'
                  request:
                    status: INACTIVE
              Update RSA Encryption Key:
                value:
                  requestTime: '2024-01-15T10:30:00.000Z'
                  request:
                    encPublicKey:
                      kty: RSA
                      n: 0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEps2aiAFbWhM78LhWx4cbbfAAtVT86zwu1RK7aPFFxuhDR1L6tSoc_BJECPebWKRXjBZCiFV4n3oknjhMstn64tZ_2W-5JsGY4Hc5n9yBXArwl93lqt7_RN5w6Cf0h4QyQ5v-65YGjQR0_FDW2QvzqY368QQMicAtaSqzs8KJZgnYb9c7d0zgdAZHzu6qMQvRL5hajrn1n91CbOpbISD08qNLyrdkt-bFTWhAI4vMQFh6WeZu0fM4lFd2NcRwr3XPksINHaQ-G_xBniIqbw0Ls1jF44-csFCur-kEgU8awapJzKnqDKgw
                      e: AQAB
                      use: enc
                      alg: RSA-OAEP-256
                      kid: enc-key-rsa-1
              Update EC Encryption Key:
                value:
                  requestTime: '2024-01-15T10:30:00.000Z'
                  request:
                    encPublicKey:
                      kty: EC
                      crv: P-256
                      x: WbbkPq9chKwjFGa9U7CmEEIb3FJ0yHEaGrMsC3E6iKA
                      y: 8NKNqnR7v29K7NsMFhV9C0e-RYlBN0tA7qhwj4ZjxpU
                      use: enc
                      alg: ECDH-ES+A256KW
                      kid: enc-key-ec-1
              Clear Encryption Key:
                value:
                  requestTime: '2024-01-15T10:30:00.000Z'
                  request:
                    encPublicKey: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responseTime:
                    type: string
                    description: Date and time when the response is generated
                  response:
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: Client identifier.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                    required:
                      - clientId
                  errors:
                    type: array
                    description: List of Errors in case of request validation / processing failure.
                    items:
                      type: object
                      properties:
                        errorCode:
                          type: string
                          enum:
                            - invalid_client_id
                            - invalid_client_name
                            - invalid_claim
                            - invalid_acr
                            - invalid_uri
                            - invalid_redirect_uri
                            - invalid_grant_type
                            - invalid_client_auth
                            - invalid_public_key
                            - invalid_additional_config
                        errorMessage:
                          type: string
              examples:
                Success:
                  value:
                    responseTime: '2024-01-15T10:30:05.000Z'
                    response:
                      clientId: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                      status: ACTIVE
                    errors: []
      security:
        - Authorization-update_oidc_client: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
  /oauth2/par:
    post:
      tags:
        - OIDC
      summary: PAR Endpoint
      description: |-
        **PAR - Pushed Authorization Request**

        1. Message body of an this request with parameters formatted with x-www-form-urlencoded using a character encoding of UTF-8
        2. Add "pushed_authorization_request_endpoint" in the authorization server metadata.
        3. Client must adds its authentication credentials to the request body using the same rules as for token endpoint request.
        4. Authenticate the client in the same way as at the token endpoint.
        5. Reject the request if the request_uri authorization request parameter is provided.
        6. Validate the request parmeters in the body as it would be validated in oauth-details request.
        7. Upon successful verification, the server MUST generate a request URI and provide it in the response with a 201 HTTP status code.

        **request_uri** should be in this format: 'urn:ietf:params:oauth:request_uri:<secure random alpha-numeric string with max length of 25>'

        Successfully verified request parameters should be stored in the "par" cache with request_uri as the key. Objects in the "par" cache are set with TTL.
        TTL should be configurable and the expires_in parameter in the response should return same value.

        **Not supported:**
          1. client authentication parameters in the PAR request header.
          2. The request parameter as defined in JAR [RFC9101].
          3. API rate limit is left to the infra to handle.
          4. Use of non-registered redirect_uri's are not allowed.
      operationId: post-oauth-par
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - scope
                - response_type
                - client_id
                - redirect_uri
                - client_assertion
                - client_assertion_type
              properties:
                scope:
                  type: string
                  description: Specifies what access privileges are being requested for Access Tokens. The scopes associated with Access Tokens determine what resources will be available when they are used to access OAuth 2.0 protected endpoints. OpenID Connect requests MUST contain the OpenID scope value.
                  enum:
                    - openid
                    - profile
                    - email
                    - address
                    - phone
                    - offline_access
                response_type:
                  type: string
                  description: 'Value that determines the authorization processing flow to be used. When using the Authorization Code Flow, this value is code.'
                  x-stoplight:
                    id: 06op369n6ipx2
                  enum:
                    - code
                client_id:
                  type: string
                  description: OAuth 2.0 Client Identifier valid at the Authorization Server
                  x-stoplight:
                    id: loecaliscjne7
                  example: 785b806d0e594657b05aabdb30fff8a4
                redirect_uri:
                  type: string
                  description: Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered
                  x-stoplight:
                    id: obnx0myaatag7
                  examples:
                    - 'https://relying-party-portal/callback'
                    - 'app://oauth/redirect'
                state:
                  type: string
                  description: client state value echoed.
                nonce:
                  type: string
                  description: Client's nonce value echoed.
                display:
                  type: string
                  description: ASCII string value that specifies how the Authorization Server displays the authentication and consent user interface pages to the End-User.
                prompt:
                  type: string
                  description: 'Space delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for re-authentication and consent.'
                  examples:
                    - consent
                acr_values:
                  type: string
                  description: |-
                    Space separated ACR values, Unknown ACR are ignored. Only registered ACR values will be considered.
                    If none of the provided acr value is among the registered values, all the registered ACR's will be considered.
                  examples:
                    - 'mosip:idp:acr:biometrics'
                    - 'mosip:idp:acr:password mosip:idp:acr:biometrics'
                claims:
                  $ref: '#/components/schemas/Claim'
                max_age:
                  type: number
                  description: 'Maximum Authentication Age. Specifies the allowable elapsed time in seconds since the last time the End-User was actively authenticated by the OP. If the elapsed time is greater than this value, the OP MUST attempt to actively re-authenticate the End-User. (The max_age request parameter corresponds to the OpenID 2.0 PAPE [OpenID.PAPE] max_auth_age request parameter.) When max_age is used, the ID Token returned MUST include an auth_time Claim Value.'
                claims_locales:
                  type: string
                  description: 'End-User''s preferred languages and scripts for Claims being returned, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference. An error SHOULD NOT result if some or all of the requested locales are not supported by the OpenID Provider.'
                ui_locales:
                  type: string
                  description: 'End-User''s preferred languages and scripts for the user interface, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference. For instance, the value "fr-CA fr en" represents a preference for French as spoken in Canada, then French (without a region designation), followed by English (without a region designation). An error SHOULD NOT result if some or all of the requested locales are not supported by the OpenID Provider.'
                code_challenge:
                  type: string
                  description: 'A challenge derived from the code verifier, to be verified against later.'
                code_challenge_method:
                  const: S256
                  description: A method that was used to derive code challenge.
                  type: string
                id_token_hint:
                  type: string
                  description: ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client.
                client_assertion_type:
                  const: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'
                  description: Type of the client assertion part of this request.
                  type: string
                client_assertion:
                  type: string
                  description: The value of the "client_assertion" parameter contains a single JWT.
                dpop_jkt:
                  type: string
                  description: 'The value of the dpop_jkt authorization request parameter is the JWK Thumbprint [RFC7638] of the proof-of-possession public key using the SHA-256 hash function.'
            examples:
              example-1:
                value:
                  client_id: WMX5pO6dYdCFR3iaVWGclVPNxTNSADDv
                  scope: openid
                  response_type: code
                  redirect_uri: 'https://fastlane.com/homepage'
                  display: popup
                  prompt: login
                  acr_values: 'mosip:idp:acr:generated-code'
                  claims:
                    userinfo:
                      name:
                        essential: true
                      phone_number:
                        essential: true
                      email:
                        essential: false
                      address:
                        essential: true
                    id_token: {}
                  nonce: 973eieljzng
                  state: eree2311
                  claims_locales: en
                  code_challenge: UK95aVX_y3R44DF3hssd3wATvtZmO_WejE0P33-pwTs
                  code_challenge_method: S256
                  client_assertion: 
                  client_assertion_type: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_uri:
                    type: string
                    description: The request URI corresponding to the authorization request posted. This URI is a single-use reference to the respective request data in the subsequent authorization request.
                  expires_in:
                    type: number
                    description: A JSON number that represents the lifetime of the request URI in seconds as a positive integer.
              examples:
                example-1:
                  value:
                    request_uri: 'urn:ietf:params:oauth:request_uri:6esc_11ACC5bwc014ltc14eY22c'
                    expires_in: 10
        '400':
          description: Bad Request
          headers:
            Cache-Control:
              schema:
                type: string
              description: 'no-cache, no-store'
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    description: 'Error code, available in error response.'
                    enum:
                      - invalid_request
                      - invalid_client_id
                      - invalid_redirect_uri
                      - invalid_scope
                      - invalid_acr
                      - invalid_response_type
                      - invalid_display
                      - invalid_prompt
                  error_description:
                    type: string
                    description: 'Error description, available in error response.'
        '405':
          description: Method Not Allowed
          headers:
            Cache-Control:
              schema:
                type: string
              description: 'no-cache, no-store'
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                    description: 'Error code, available in error response.'
                    enum:
                      - method_not_allowed
                  error_description:
                    type: string
                    description: 'Error description, available in error response.'
      security: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
      x-stoplight:
        id: 9zp5uhyyzp9w6
    parameters:
      - schema:
          type: string
        in: header
        name: DPoP
        description: 'A DPoP proof is a JWT [RFC7519] that is signed (using JSON Web Signature (JWS) [RFC7515]) with a private key chosen by the client.          For more details refer - https://datatracker.ietf.org/doc/html/rfc9449#section-4.2'
  /oauth2/authorize:
    get:
      tags:
        - OIDC
      summary: Authorization Endpoint
      description: |-
        This is the authorize endpoint of Open ID Connect (OIDC). The relying party applications will do a browser redirect to this endpoint with all required details passed as query parameters.

        This endpoint responds with a redirect to the UI application's login page, with `authId` and `executionId` query parameters identifying the authorization session and the underlying ThunderID flow execution respectively. The UI application then calls the "/flow/meta" endpoint to fetch rendering metadata, and drives the authentication ceremony step by step via the "/flow/execute" endpoint using the `executionId`. Once the flow reaches `flowStatus: COMPLETE`, the UI application calls "/oauth2/auth/callback" with the `authId` and the flow's signed assertion to obtain the authorization code redirect.

        **Authentication & Authroization**: None
      operationId: get-authorize
      parameters:
        - name: scope
          in: query
          description: Specifies what access privileges are being requested for Access Tokens. The scopes associated with Access Tokens determine what resources will be available when they are used to access OAuth 2.0 protected endpoints. OpenID Connect requests MUST contain the OpenID scope value.
          required: true
          schema:
            type: string
            description: 'Space delimited list of scope values. Supported values: openid, profile, email, address, phone, offline_access.'
            examples:
              - openid profile
              - openid email
              - openid
        - name: response_type
          in: query
          description: 'The value set here determines the authorization processing flow. To use the Authorization Code Flow, the value should be configured to "code".'
          required: true
          schema:
            const: code
        - name: client_id
          in: query
          description: Valid OAuth 2.0 Client Identifier in the Authorization Server.
          required: true
          schema:
            type: string
            maxLength: 256
        - name: redirect_uri
          in: query
          description: Redirection URI to which the response would be sent. This URI must match one of the redirection URI values during the client ID creation.
          required: true
          schema:
            type: string
            format: uri
        - name: state
          in: query
          description: 'Opaque value used to maintain state between the request and the callback. Typically, Cross-Site Request Forgery (CSRF, XSRF) mitigation is done by cryptographically binding the value of this parameter with a browser cookie.'
          schema:
            type: string
            maxLength: 256
        - name: nonce
          in: query
          description: 'String value used to associate a Client session with an ID Token, and to mitigate replay attacks. The value is passed through unmodified from the Authentication Request to the ID Token.'
          schema:
            type: string
        - name: display
          in: query
          description: ASCII string value that specifies how the Authorization Server displays the authentication and consent user interface pages to the end user.
          schema:
            type: string
            enum:
              - page
              - popup
              - touch
              - wap
        - name: prompt
          in: query
          description: Space delimited case-sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for re-authentication and consent.
          schema:
            type: string
            enum:
              - consent
            examples:
              - consent
        - name: max_age
          in: query
          description: 'Maximum Authentication Age. This specifies the allowable elapsed time in seconds since the last time the end user was actively authenticated by the OP. If the elapsed time is greater than this value, then the OP MUST attempt to actively re-authenticate the end user. The max_age request parameter corresponds to the OpenID 2.0 PAPE [OpenID.PAPE] max_auth_age request parameter. When max_age is used, the ID Token returned MUST include an auth_time claim value.'
          schema:
            type: number
        - name: ui_locales
          in: query
          description: 'End user''s preferred languages and scripts for the user interface, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference. For instance, the value "fr-CA fr en" represents a preference for French as spoken in Canada, then French (without a region designation), followed by English (without a region designation). An error SHOULD NOT result if some or all of the requested locales are not supported by the OpenID Provider.'
          schema:
            type: string
        - name: acr_values
          in: query
          description: 'Requested Authentication Context Class Reference values. Space-separated string that specifies the acr values that the Authorization Server is being requested to use for processing this Authentication Request, with the values appearing in order of preference. The Authentication Context Class satisfied by the authentication performed is returned as the acr Claim Value, as specified in Section 2. The acr Claim is requested as a Voluntary Claim by this parameter.'
          schema:
            type: string
            enum:
              - 'mosip:idp:acr:password'
              - 'mosip:idp:acr:generated-code'
              - 'mosip:idp:acr:biometrics'
              - 'mosip:idp:acr:knowledge'
        - name: claims_locales
          in: query
          description: 'End-User''s preferred languages and scripts for Claims being returned, represented as a space-separated list of BCP47 [RFC5646] language tag values, ordered by preference. An error SHOULD NOT result if some or all of the requested locales are not supported by the OpenID Provider.'
          schema:
            type: string
        - name: claims
          in: query
          description: This parameter is used to request specific claims to be returned. The value is a JSON object listing the requested claims. The claims parameter value is represented in an OAuth 2.0 request as UTF-8 encoded JSON.
          schema:
            type: string
        - name: code_challenge
          in: query
          description: 'A challenge derived from the code_verifier, This is required if its a VC scoped request.'
          schema:
            type: string
        - name: code_challenge_method
          in: query
          description: 'A method that was used to derive code challenge, This will be required if code_challenge is provided.'
          schema:
            type: string
        - schema:
            type: string
          in: query
          description: ID Token previously issued by the Authorization Server being passed as a hint about the End-User's current or past authenticated session with the Client.
          name: id_token_hint
        - schema:
            type: string
          in: query
          description: The request URI corresponding to the pushed authorization request posted. This URI is a single-use reference to the respective request data in the subsequent authorization request.
          name: request_uri
      responses:
        '302':
          description: |-
            Redirect to the UI application's login page, with `authId` and `executionId` identifying the authorization session, or to the client's registered redirect_uri on error.
          headers:
            Location:
              schema:
                type: string
        '400':
          description: 'Bad Request: malformed or duplicate query parameters.'
      security: []
      servers:
        - url: 'https://esignet.collab.mosip.net/v1/esignet'
  /flow/meta:
    get:
      tags:
        - UI
      summary: Get flow metadata
      operationId: getFlowMetadata
      description: |-
        Retrieves the application details, design (theme/layout), and i18n translations the UI application needs to render an authentication flow. Called immediately after being redirected here by the "/authorize" endpoint, using the `client_id` echoed back in the redirect as the `id` query parameter. eSignet always passes `type=APP` and `namespace=auth`.

        **Authentication & Authroization**: None
      parameters:
        - name: type
          in: query
          required: true
          description: The type of entity to retrieve metadata for. eSignet always requests application-level metadata for the client initiating the flow.
          schema:
            type: string
            const: APP
          example: APP
        - name: id
          in: query
          required: true
          description: 'The `client_id` of the OAuth/OIDC client initiating the flow. Opaque string, not necessarily a UUID.'
          schema:
            type: string
          example: 'p9K4Qm7Z2xVeWq0Lc3TbDf6NsYh1JgArE5Ru8oXiMw'
        - name: language
          in: query
          required: false
          description: 'Language tag in BCP 47 format for i18n translations (e.g. `en`, `es`, `fr-CA`).'
          schema:
            type: string
            pattern: '^[a-z]{2}(-[A-Z]{2})?(-[A-Za-z]+)?$'
          example: en
        - name: namespace
          in: query
          required: true
          description: Translation namespace to retrieve. eSignet always requests the `auth` namespace.
          schema:
            type: string
[...]
