:root {
  --font-family: "Kantumruy Pro", sans-serif;
  --login-card-box-color: #bcc0c7;
  --login-card-box-hover-color: #1263ca;
  --login-card-box-focus-color: #1263ca;
  --login-background: #fcfcff;
  --login-background-image: url("/images/section-bg.png");
  --login-background-min-height: calc(100vh - 157.6px) !important;
  --language-icon-color: #ffffff;
  --language-icon-bg-color: #004282;
  --brand-only-logo-url: url("/logo.png");
  --brand-logo-url: url("/images/brand_logo.png");
  --background-logo-url: url("/images/illustration_one.png");
  --footer-brand-logo-url: url("/images/footer_logo.png");
  --primary-button-color: #ffffff;
  --primary-button-bg-color: #004282;
  --primary-button-border-color: #004282;
  --primary-button-hover-color: #ffffff;
  --primary-button-hover-bg-color: #0549b6;
  --primary-button-hover-border-color: #0549b6;
  --primary-button-disable-color: #94a3b8;
  --primary-button-disable-bg-color: #ffffff;
  --primary-button-disable-border-color: #94a3b8;
  --secondary-button-color: #111827;
  --secondary-button-bg-color: #ffffff;
  --secondary-button-border-color: #004282;
  --secondary-button-hover-color: #111827;
  --secondary-button-hover-bg-color: #f3f4f6;
  --secondary-button-hover-border-color: #004282;
  --secondary-button-disable-color: #94a3b8;
  --secondary-button-disable-bg-color: #ffffff;
  --secondary-button-disable-border-color: #94a3b8;
  --loading-indicator-ring-color: #3182ce;
  --loading-indicator-bg-color: transparent;
  --loading-indicator-font-color: #000000;
  --qrcode-border-color: #1263ca;
  --info-icon-color: #0686f0;
  --toggle-button-inactive-bg-color: #ffffff;
  --toggle-button-inactive-border-color: #d8d8d8;
  --toggle-button-active-bg-color: #ffffff;
  --toggle-button-active-border-color: #004282;
  --toggle-button-inactive-ball-color: #a7a8a9;
  --toggle-button-inactive-ball-border-color: #a7a8a9;
  --toggle-button-active-ball-color: #004282;
  --toggle-button-active-ball-border-color: #004282;
  --toggle-button-ring-color: #004282;
  --header-height: 70px;
  --footer-height: 56px;
  --signup-banner-background-color: #eaf5ff;
  --signup-banner-bottom-radius: 20px;
  --signup-banner-padding-top: 20px;
  --signup-banner-padding-bottom: 20px;
  --signup-banner-margin-top: 16px;
  --signup-banner-signup-url-color: #004282;
  --signup-banner-signup-url-color-hover: #2f8ea3;
  --signup-banner-signup-url-color-focus: #2f8ea3;
  --multipurpose-login-card-border-radius: 20px;
  --multipurpose-login-card-background-color: #ffffff;
  --side-section-bg-with: 226px;
  --top-left-bg-logo-url: url("/images/top_left_bg_logo.svg");
  --top-left-bg-logo-display: none;
  --bottom-left-bg-logo-url: url("/images/bg_bottom_left.png");
  --bottom-left-bg-logo-display: block;
  --top-right-bg-logo-url: url("/images/top_left_bg_logo.svg");
  --top-right-bg-logo-display: none;
  --bottom-right-bg-logo-url: url("/images/bottom_right_bg_logo.svg");
  --bottom-right-bg-logo-display: none;
  --login-client-logo-image-height: 5rem;
  --login-client-logo-image-width: 8rem;
  --login-alternate-arrow: "\21CB";
  --login-alternate-arrow-size: 3rem;
  --login-text-color: #4b5563;
  --login-card-separator: linear-gradient(0deg, #ffffff 0%, #f7fcff 100%);
  --login-card-separator-height: 20px;
  --footer-text-color: #ffffff;
  --footer-text-size: 14px;
  --footer-bg-color: #004282;
  --language-check-icon-color: #004282;
  --forgot-password-color: #004282;
  --forgot-password-font-size: small;
  --forgot-password-width: max-content;
  --forgot-password-margin-top: 1rem;
  --password-google-reCaptcha-margin-top: 3rem;
  --navbar-position: relative;
  --navbar-zIndex: 1;
  --navbar-box-shadow: 0px 2px 5px #0000001a;
}

[class="orange_theme"] {
  --login-card-box-color: #bcc0c7;
  --login-card-box-hover-color: #eb6f2d;
  --login-card-box-focus-color: #eb6f2d;
  --login-background: #f7f9fd;
  --language-icon-color: #ffffff;
  --language-icon-bg-color: #eb6f2d;
  --brand-only-logo-url: url("/logo.png");
  --brand-logo-url: url("/images/brand_logo.png");
  --background-logo-url: url("/images/illustration_one.png");
  --footer-brand-logo-url: url("/images/footer_logo.png");
  --primary-button-color: #ffffff;
  --primary-button-bg-color: #eb6f2d;
  --primary-button-border-color: #eb6f2d;
  --primary-button-hover-color: #ffffff;
  --primary-button-hover-bg-color: #eb6f2d;
  --primary-button-hover-border-color: #eb6f2d;
  --primary-button-disable-color: #ffffff;
  --primary-button-disable-bg-color: #cbcbcb;
  --primary-button-disable-border-color: #cbcbcb;
  --secondary-button-color: #eb6f2d;
  --secondary-button-bg-color: #ffffff;
  --secondary-button-border-color: #ffffff;
  --secondary-button-hover-color: #eb6f2d;
  --secondary-button-hover-bg-color: #ffffff;
  --secondary-button-hover-border-color: #ffffff;
  --secondary-button-disable-color: #ffffff;
  --secondary-button-disable-bg-color: #cbcbcb;
  --secondary-button-disable-border-color: #cbcbcb;
  --loading-indicator-ring-color: #eb6f2d;
  --loading-indicator-bg-color: transparent;
  --loading-indicator-font-color: #000000;
  --qrcode-border-color: #eb6f2d;
  --info-icon-color: #eb6f2d;
  --toggle-button-inactive-bg-color: #ffffff;
  --toggle-button-inactive-border-color: #d8d8d8;
  --toggle-button-active-bg-color: #ffdecc;
  --toggle-button-active-border-color: #ffffff;
  --toggle-button-inactive-ball-color: #cbcbcb;
  --toggle-button-inactive-ball-border-color: #cbcbcb;
  --toggle-button-active-ball-color: #eb6f2d;
  --toggle-button-active-ball-border-color: #eb6f2d;
  --toggle-button-ring-color: #eb6f2d;
  --header-height: 55px;
  --footer-height: 47px;
  --signup-banner-background-color: #fff6f2;
  --signup-banner-bottom-radius: 10px;
  --signup-banner-padding-top: 20px;
  --signup-banner-padding-bottom: 20px;
  --signup-banner-margin-top: 16px;
  --signup-banner-signup-url-color: #eb6f2d;
  --signup-banner-signup-url-color-hover: #eb6f2d;
  --signup-banner-signup-url-color-focus: #eb6f2d;
  --multipurpose-login-card-border-radius: 10px;
  --multipurpose-login-card-background-color: #ffffff;
  --top-left-bg-logo-url: url("/images/top_left_bg_logo.svg");
  --bottom-right-bg-logo-url: url("/images/bottom_right_bg_logo.svg");
  --login-client-logo-image-height: 2.75rem;
  --login-client-logo-image-width: 2.75rem;
  --login-alternate-arrow: "\21C4";
  --login-alternate-arrow-size: 1.5rem;
  --login-text-color: #333333;
  --login-card-separator: linear-gradient(
    0deg,
    rgb(0, 0, 0, 0.2) 0%,
    rgb(0, 0, 0, 0.2) 100%
  );
  --login-card-separator-height: 1px;
  --footer-text-color: #898989;
  --footer-text-size: 14px;
  --language-check-icon-color: #eb6f2d;
  --forgot-password-color: #eb6f2d;
  --forgot-password-font-size: small;
  --forgot-password-width: max-content;
  --forgot-password-margin-top: 1rem;
  --password-google-reCaptcha-margin-top: 3rem;
  --navbar-position: relative;
  --navbar-zIndex: 1;
  --navbar-box-shadow: 0px 2px 5px #0000001a;
}
